<div>

    <h3>Step 2</h3>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label>Exam Name</label>
                <input class="form-control" placeholder="Total Question" type="">
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>Total Questions</label>
                <input class="form-control" placeholder="Total Question" type="">
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>Total Time</label>
                <input class="form-control" placeholder="Total Question" type="">
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>Total Marks</label>
                <input class="form-control" placeholder="Total Question" type="">
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="form-group">
                <label>Passing Marks</label>
                <input class="form-control" placeholder="Total Question" type="">
            </div>
        </div>
    </div>
    <ul class="list-inline pull-right">
        <li>
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#modal-default">Add Question
            </button>
        </li>
    </ul>
    <table class="table table-bordered queTable">
        <thead>
        <tr>
            <th width="60px">Sr No</th>
            <th>Enter Question</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="60px">
                <b>Q. 1</b>
                <input value="1" type="hidden">
            </td>
            <td>
                <div class="row ">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <input class="form-control" placeholder="Question" type="text">
                    </div>
                </div>
                <div class="row ">

                    <div class="col-sm-12 col-xs-12 col-md-12 cDiv">
                        <div style="display: inline;">

                            <div class="imguploadDv">
                                                        <span class="pull-right-container">
                                                            <i class="fa fa-picture-o"></i>
                                                        </span>
                            </div>

                            <span class="fileOuter">
                                                            <span class="uploadText">Upload</span>
                                                            <input type="file" class="uploadC">
                                                    </span>

                        </div>

                    </div>
            </td>
        </tr>


        <tr>
            <td width="60px">
                <b>Q. 2</b>
                <input value="2" type="hidden">
            </td>
            <td>
                <div class="row ">
                    <div class="col-sm-6 col-xs-6 col-md-3">
                        <input class="form-control" placeholder="Question" type="text">
                    </div>
                    <div class="col-sm-6 col-xs-6 col-md-9 cDiv">
                        <div class="pull-left imguploadDv">
                                                        <span class="pull-right-container">
                                                            <i class="fa fa-picture-o pull-right"></i>
                                                        </span>
                        </div>
                        <span class="fileOuter">
                                                    <span class="uploadText">Upload</span>
                                                        <input type="file" class="uploadC">
                                                    </span>
                        <a class="btn btn-info btn-sm" href="#"> <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-success btn-sm" href="#"> &nbsp; Ok &nbsp; </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td width="60px">
                <b>Q. 3</b>
                <input value="3" type="hidden">
            </td>
            <td>
                <div class="row ">
                    <div class="col-sm-6 col-xs-6 col-md-3">
                        <input class="form-control" placeholder="Question" type="text">
                    </div>
                    <div class="col-sm-6 col-xs-6 col-md-9 cDiv">
                        <div class="pull-left imguploadDv">
                                    <span class="pull-right-container">
                                        <i class="fa fa-picture-o pull-right"></i>
                                    </span>
                        </div>
                        <span class="fileOuter">
                                            <span class="uploadText">Upload</span>
                                            <input type="file" class="uploadC">
                                          </span>
                        <a class="btn btn-info btn-sm" href="#"> <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-success btn-sm" href="#"> &nbsp; Ok &nbsp; </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td width="60px">
                <b>Q. 4</b>
                <input value="4" type="hidden">
            </td>
            <td>
                <div class="row ">
                    <div class="col-sm-6 col-xs-6 col-md-3">
                        <input class="form-control" placeholder="Question" type="text">
                    </div>
                    <div class="col-sm-6 col-xs-6 col-md-9 cDiv">
                        <div class="pull-left imguploadDv">
                                    <span class="pull-right-container">
                                        <i class="fa fa-picture-o pull-right"></i>
                                    </span>
                        </div>
                        <span class="fileOuter">
                                    <span class="uploadText">Upload</span>
                                      <input type="file" class="uploadC">

                                  </span>
                        <a class="btn btn-info btn-sm" href="#"> <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-success btn-sm" href="#"> &nbsp; Ok &nbsp; </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td width="60px">
                <b>Q. 5</b>
                <input value="5" type="hidden">
            </td>
            <td>
                <div class="row ">
                    <div class="col-sm-6 col-xs-6 col-md-3">
                        <input class="form-control" placeholder="Question" type="text">
                    </div>
                    <div class="col-sm-6 col-xs-6 col-md-9 cDiv">
                        <div class="pull-left imguploadDv">
                                            <span class="pull-right-container">
                                                <i class="fa fa-picture-o pull-right"></i>
                                            </span>
                        </div>
                        <span class="fileOuter">
                                            <span class="uploadText">Upload</span>
                                            <input type="file" class="uploadC">
                                          </span>
                        <a class="btn btn-info btn-sm" href="#"> <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-success btn-sm" href="#"> &nbsp; Ok &nbsp; </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="list-inline pull-right">
        <li>
            <button type="button" class="btn btn-default prev-step">Previous</button>
        </li>
        <li>
            <button type="button" class="btn btn-primary next-step">Save and continue
            </button>
        </li>
    </ul>

</div>