.breadcrumbHeader {
    background-color:#fff;
    border-bottom:1px solid #cfd8dc;
    height:50px;
    background-color:#fff !important
}
.content-header > .breadcrumb {
    position: absolute;
    top: 7px;
    left: 10px;
}
.content-header > .breadcrumb li a {
    font-size:15px
}
.breadcrumb > .active {
    font-size:15px;
    color:#3c8dbc
}
.whiteBox {
    background-color:#fff
}
.mrt0 {
    margin-top:0 !important
}
.content-wrapper, .right-side {
    background-color:#fff
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #bdf7e0;
}


.table.tableRes > thead > tr > th {
    background-color:#8199aa;
    color:#fff
}
.table-striped > tbody > tr:nth-of-type(2n+1)
{
    background-color:#e0eff8
}
.dropdown-menu.menuSetting{
    position: absolute;
    top: 100%;
    left: -122px !important;
    margin-top:13px;
    border:1px solid #cfd8dc
}
.custom
{ 
    border:0;
    background-color:transparent;
    margin-top: 15px;
    margin-right: 10px;
}
.logOutToggle
{
    font-size:20px;
    color:#fff;
    cursor:pointer
}
.customDrop {
    margin-top:15px;
    margin-right:10px
}
.content-header > .breadcrumb > li + li::before {
    content: '/';
    font-size:16px
}
.skin-blue .sidebar-menu > li > a
{
    font-size:16px
}
.modal-body
{
    border-bottom:1px solid #a7a9aa;
    border-top:1px solid #9ea0a1
}
.close {
    font-size:28px
}
.skin-blue .main-header .navbar {
    background-color:#495b6c
}
.skin-blue .main-header .navbar .sidebar-toggle:hover
{   
    background-color:#2f8dc3
}
.loginOuter {
    margin-top:150px
}
.logoOuterDv
{
    margin-bottom:50px
}
.panelLogin
{   
    border-color:#ffb74d
}
.loginOuterDvMain
{
    background-color:#f2f2f2
}

#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../images/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

/* loader option 2 ==================++++++++++++ */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

/* loader option 2 ================================
=*/
#load {
	z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}

.form-group label
{
    font-weight:normal;
    font-size:16px
}
.active.day
{
    border-top:0
}
.mrt15
{
    margin-top: 15px
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #495b6c;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #fff;
    background: #415160;
    border-left-color: #fff;
}
.sidebar-menu > li {
    border-bottom: 1px solid #3a4248;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #43546d;
}
.skin-blue .main-header .logo {
    background-color: #495b6c;
}

/*Login form */





@media (min-width: 768px) {
  .form-inline .radio label, .form-inline .checkbox label {
    padding-left: 5px;
  }
}





.form-control-static {
  font-size: 16px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  border-bottom-style: dashed;
}

#focusedInput {
  border-color: #ccc;
  border-color: rgba(82,168,236,.8);
  outline: 0;
  box-shadow: none;
}
.LoginRemb
{
    margin-left: -25px;
    text-align: right;
    width: 120px
}
.checkbox.checkbox-default
{
    height: 35px;
}
.LoginBtn
{
    background-color: #0277bd;
    padding: 14px 15px;
    color: #fff;
    border: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    cursor: pointer
}
.LoginBtn:hover
{
    background-color: #0d71ad;
}

.pagination
{
    margin: 0
}
.remOuter
{
    text-align: center
}
table.dataTable thead .sorting_desc::after,table.dataTable thead .sorting_asc::after {
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 1 !important;
    color: #BDE2FC
}
.userWell
{
    color: #fff;
    font-size: 16px;
    margin-top: 12px;
    margin-right: 15px;
}
.table-bordered > thead > tr > th
{
    border-bottom: 0
}
.Errormessage
{
    display: none
}
.has-error span.Errormessage
{
    font-size: 12px;
    color: #dd4b39;
    display: block;
    position: absolute
}
.DateError
{
    margin-left: -40px
}
.dropdown-menu.menuSetting
{
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
     -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius:0px;
    border-top-left-radius: 0px;
}
.mrt30
{
    margin-top: 28px
}

@media (max-width:767px)
{
.skin-blue .main-header .navbar .dropdown-menu li a {
    color:#333
}
.skin-blue .main-header .navbar .dropdown-menu li a:hover {
    color:#fff
}
   
}
@media (max-width:991px) {
    .content-header > .breadcrumb {
        background-color:transparent
    }
}
/*Login form css*/
@media (max-width:768px) {
   .mrt30
{
    margin-top: 0px
} 
}

@media (max-width:767px) {
    
    .cDiv
    {
        margin-top: 15px;
        margin-left: 15px
    }
 
}



 .skin-blue .main-header .navbar
  {
      background-color: #367fa9
  }
  .skin-blue .main-header .logo
  {
      background-color: #3d87b2
  }
  .skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a
  {
      background-color: #156390
  }
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side
{
    background-color: #2a6d94
}
.skin-blue .sidebar-menu > li > .treeview-menu
{
    background-color: #2c6687
}
.sidebar-menu > li
{
    border-bottom: 1px solid #fff
}
.select2-container .select2-selection--single
{
    height: 34px !important
}
.select2-container--default .select2-selection--single
{
    -webkit-border-radius: 0px  !important;
    -moz-border-radius: 0px  !important;
    border-radius: 0px  !important
}
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    top:4px 
}
.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus
{
    border: 1px solid #3c8dbc !important;
}
.select2-container .select2-selection--single .select2-selection__rendered
{
    padding-left:0
} 
  
.datepicker-days .table > thead > tr > th,.datepicker-days .table > tbody > tr > td
{
    border: 0px !important
}
.borderNone
{
    border: 0px !important
}
.blueBg
{
    background-color: #00c0ef
}
.blueBg h3 
{
    color: #fff
}
.queTable th
{
    font-size:17px  !important;
    font-weight: bold !important;
}

.TableOuterToggle
{
    margin-top: 10px
}
.borderToggle
{
    border: 1px solid gray !important
}
.fileOuter
{
    float: left;
    background-color: #31b0d5;
    position: relative;
    width: 80px;
    height: 30px;
    margin-right: 3px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px
}
.uploadC:hover
{
    background-color: #31b0d5
}

.uploadText
{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    line-height: 30px;
    color: #fff;
    background-color:#31b0d5;;
}
.uploadC
{
    width: 80px;
    background-color:#31b0d5;;
    margin-right: 10px;
    height: 30px;
    opacity: 0;
    cursor: pointer
}
#datepicker.Datep
{
    border-bottom: 1px solid #d2d6de;
}

.subQue
{
    margin-left: 2px;
    margin-top: 15px
}
.subQueInput
{
    margin-left: 33px;
    margin-top: -21px;
}
.imgOuter
{
    margin-top: 10px;margin-bottom: 10px
}
.imguploadDv
{
    width: 20px;
    margin-right: 15px
}
.imguploadDv .fa 
{   
    font-size: 30px;
    color: #3da3d6
}
.que
{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;

}
.EditPencile
{
    color: #00acd6;
    padding-left: 10px;
    cursor: pointer
}















