<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>CA</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/login.css">   
    
</head>

<body>
  <div class="container">
<div id="login" class="signin-card animated bounceInDown">  
 <!--<div id="login" class="signin-card">-->
    
  <div class="logo-image">
  <img src="images/sample-logo@2x.png" height="40" />
  </div>
  <form action="" method="" class="" role="form">
    <div id="form-login-username" class="form-group">
      <input id="username" class="form-control" name="username" type="text" size="18" alt="login" required />
      <span class="form-highlight"></span>
      <span class="form-bar"></span>
      <label for="username" class="float-label">login</label>
    </div>
    <div id="form-login-password" class="form-group">
      <input id="passwd" class="form-control" name="password" type="password" size="18" alt="password" required>
      <span class="form-highlight"></span>
      <span class="form-bar"></span>
      <label for="password" class="float-label">password</label>
    </div>
    <div id="form-login-remember" class="form-group remOuter">
      <div class="checkbox checkbox-default">       
          <input id="remember" type="checkbox" value="yes" alt="Remember me" class="">
          <label for="remember" class="LoginRemb"><span>Remember me</span></label>      
      </div>
        <div class="clearfix "></div>    
    </div>
    <div>
      <button class="LoginBtn" type="submit" name="Submit" alt="sign in" OnClick=" location.href='Dashboard.html' ">Sign in</button>  
	  </div>

    </div>
  </form>
</div>
</div>
  <script src="js/jquery-2.2.3.min.js"></script>
  <script src='js/script.js'></script>
</body>
</html>
